#app {
  background-color: #f6f6f6;
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  /*header */
  .header {
background-color: #777777;
    padding: 10px 30px;
  }


  /*products */
  .products {
    margin-top: 10px;
    padding: 40px 20px 0;
    //font-size: 100px;
    color: black;
    .status-line {
      padding-bottom: 10px;
      div {
        display: inline;
      }
      text-align: left;
      .filters {
        float: right;
        .filter-label:last-of-type {
            padding-left: 10px;
        }
      }
    }
    .container {
      //border: 2px solid #cccccc;
      //padding: 20px;
      //display: flex;
      //flex-wrap: wrap;
      //justify-content: space-between;

      .item {
        width: 100%;
        margin-bottom: 2%;
        position: relative;
        background-color: white;
        text-align: center;
        .image-wrapper {
          padding-top: 2vh;
          height: 30vh;
          flex-grow: 1;
          img {
            width: 100%;
            object-fit: contain;
            vertical-align: top;
            horiz-align: center;
            max-height: 90%;
          }
        }
        .item-data {
          width: 100%;
          text-align: left;
          padding-left: 20px;
        }
      }
    }
  }
}
.popup {
  position: absolute;
  width: 50%;
  height: 50%;
  background: white;
  border: 2px solid grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

